{% extends 'main.html' %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4" align="left">
  	<div class="row">
  		<div class="col pt-5" align=center>
			<img class="img" src="{% static 'image/isologo.jpg' %}"><br>
			<img class="img" src="{% static 'image/banner1.png' %}"><br>
			<img class="img" src="{% static 'image/banner2.png' %}">
	    </div>
    	<div class="col-sm-8 pt-4">
    		<h5 class="pt-2">
			<font  style="color:#DC143C">
				MANUFACTURER OF ALL TYPE OF LUXURY DESIGNER SOFA AND CURTAIN
			</font>
		    </h5><hr>
		    <p class="text-justify">
		    	<strong>Established in the year 1990</strong>, we are one of the growing firm in the home furniture and office furniture industries with a prime focus comfortable and stylish furniture. We are An <strong> ISO 9001:2008 Certified </strong> Company.
		    </p>
		    <p class="text-justify">
		    	We are providing the best furniture at our customer. We lay a stress on colors materiald, carvings, designs etc., towards achiving and meeting the requirement of the customers. Our state-of-the-art infrastructure comprises of the latest technology in the industry. We give regular training to our team to match the skill set required to operate these industries.
		    </p>
		    <br>
		    <h5>
		    	<font  style="color:#DC143C">Quality</font><hr>
		    </h5>
		    <p class="text-justify">
		    	Quality is the top priority of <font  style="color:#DC143C"><strong> "SR Sofa"</strong></font>. Our attention to quality control at every step of the manufacturing process and beyond makes a statement about the standards we uphold and maintain. We design our export quality sofa set as per latest fashion trends using the finest quality materials.
		    </p>
		    <br>
		    <h5>
				<font  style="color:#DC143C">Support</font><hr>
			</h5>
			<p class="text-justify">
				We give our best after sales to our customer as pre committed by our official representative. We have our <font  style="color:#DC143C"><strong>customer service center number"+91 9998887776" </strong></font> for any kind of technical queries. Also can contact your company sales representative for instant service experience.
			</p>
		    
		</div>
	</div>

</div>


{% endblock %}