{% extends 'main.html' %}

{% block content %}

<div class="container-fluid" align="left">
	<div class="row" >
		<div class="col-sm-6 text-monospace"><br><br>
			<strong>SHOWROOM</strong>
			<hr>
			<!--Shop No. 28-29,<br>
			Maruti Darshan Complex,<br>
			Below Axis Bank,<br>
			Sihor.-->
			221B Baker Street,<br> London

			<br><br>
			M: <a href="tel:+919924752875">+91 9998887776</a><br>
			E: <a href="mailto:sitaramsofa@gmail.com">srsofa@gmail.com</a>
		</div>
		<div class="col-sm-6 text-monospace"><br><br>
			<strong>FACTORY</strong>
			<hr>
			<!--G.I.D.C. 1<br>
			Opp. Dentobank,<br>
			Sihor.-->

			221B Baker Street,<br> London

			<br><br>
			M: <a href="tel:+919426919859">+91 9998887776</a><br>
			E: <a href="mailto:sitaramsofa@gmail.com">srsofa@gmail.com</a>
		</div>

	</div>
</div>

{% endblock %}